### Hypothesis testing lab

Instructions
It is assumed that the mean systolic blood pressure is Î¼ = 120 mm Hg. In the Honolulu Heart Study, a sample of n = 100 people had an average systolic blood pressure of 130.1 mm Hg with a standard deviation of 21.21 mm Hg. Is the group significantly different (with respect to systolic blood pressure!) from the regular population?

Set up the hypothesis test.
Write down all the steps followed for setting up the test.
Calculate the test statistic by hand and also code it in Python. It should be 4.76190. What decision can you make based on this calculated value?

In [4]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
import math

%matplotlib inline

H0 = Systolic blood pressure of the population is 120 mm Hg 
Ha = Systolic blood pressure of the pop is not 120 mm Hg

In [5]:
population_mean = 120
sample_mean = 130.1
sample_size = 100
st_dev = 21.21
st_err = st_dev / math.sqrt(sample_size)
z = (sample_mean - population_mean)/ st_err
critical_value = stats.t.ppf(0.95, df = 99) # t-table as we do not have the population standard deviation
print(z)
print(critical_value)
# z > critical_value => reject Ho

4.761904761904759
1.6603911559963895

### Optional lab (packing plant)

In [6]:
df = pd.read_fwf("Data_Machine.txt")
df= df.rename(columns ={'New Machine': 'new', 'Old': 'old'})
df = df.drop(['Machine'], axis =1)
df

    new   old
0  42.1  42.7
1  41.0  43.6
2  41.3  43.8
3  41.8  43.3
4  42.4  42.5
5  42.8  43.5
6  43.2  43.1
7  42.3  41.7
8  41.8  44.0
9  42.7  44.1

In [7]:
mean_new = df.new.mean()
print(mean_new)
mean_old = df.old.mean()
print(mean_old)
std_new = df.new.std()
print(std_new)
std_old = df.old.std()
print(std_old)

42.14
43.230000000000004
0.6834552736727638
0.7498888806572157

In [13]:
t = (mean_old - mean_new)/(math.sqrt((std_old**2/10) + (std_new**2/10)))
t

3.397230706117603